
//===============================================================================
// MENU
//===============================================================================

.menu-wrap {
	position: fixed;
	width: 100%;
	left: 0;
	top: 64px;
	z-index: 20;
	height: 64px;
	transition: all $short ease;
	
	.border-adjust-wrap {
		height: inherit;

		img, ul, li { transition: all $short ease; }

		img {
			display: none;
		}

			ul {
				display: block;
		    margin: 0 auto;
		    text-align: center;
		    float: none;
		    background: white;
		    max-width: 350px;
    		border-radius: 50px;
    		padding: 4px 0;
			}

		li {
			margin-left: 36px;

			&:first-of-type {
				margin-left: 0;
			}
		}
	}

	.js-minimenu & {
		top: 21px;
		height: 36px;

		ul { margin: 7px auto 0 auto; }
	}

	@media screen and (max-width: $small) { 
		.border-adjust-wrap {
			img { display: none; }

			li {
				text-align: center;
				margin: 0 10px;
			}
		}
	}
}

.set-menu-about {
	.menu-about {
		&::before {
			width: 100%;
			background: $blue;
		}
	}
}

.set-menu-process {
	.menu-process {
		&::before {
			width: 100%;
			background: $blue;
		}
	}
}

.set-menu-cv {
	.menu-cv {
		&::before {
			width: 100%;
			background: $blue;
		}
	}
}

.set-menu-contact {
	.menu-contact {
		&::before {
			width: 100%;
			background: $blue;
		}
	}
}

.menu-item {
	// text-shadow: 0px 0px 4px white, 0px 0px 8px white, 0px 0px 12px white, 0px 0px 16px white, 0px 0px 4px white, 0px 0px 12px white, 0px 0px 8px white;
}







//===============================================================================
// CONTACT
//===============================================================================


.link-divider {
		display: inline-block;	

		h6 { display: inline;	}

		&:hover {
			&::before { width: calc(100% - 32px); }
		}
		
		&::after {
			content: "/";
			margin: 0 16px;
			font-weight: 700;
			color: $green;
		}

		&:last-of-type::after {
			content: "";
			margin: 0;
		}
}


//===============================================================================
// ABOUT
//===============================================================================

.text-rhs-img {
	p {
		max-width: 700px;
		width: 61%;
	}

	img {
		width: 60%;
		max-width: 650px;
    opacity: 0.2;
    position: absolute;
    right: 0;
    top: -250px;
    z-index: -1;
	}
	margin-bottom: 128px;

	@media screen and (max-width: $large) { 
		img { top: -150px }
	}

	@media screen and (max-width: $medium) { 
		p { width: 80%; }
		img { top: -100px }
	}

	@media screen and (max-width: $small) { 
		p { width: 90%; }
		img { top: -50px; }
	}
}


.testimonial {
	margin-bottom: 64px;
	margin-left: 48px;

	&::before {
		content: url('/img/icons/quote.svg');
		position: absolute;
		left: -48px;
		top: -1px;
	}

	&:last-of-type { margin-bottom: $xxvlrg-pad; }

	@media screen and (max-width: $medium) { 
		margin-left: 32px;
		&::before {
			left: -39px;
			top: -5px;
			transform: scale(0.8);
		}
	}

	@media screen and (max-width: $small) { 
		margin-left: 0px;
		&::before {
			transform: scale( 0.75 );
			left: -8px;
    	top: -33px;
		}
	}
}





















