//===============================================================================
// CV STLYES
//===============================================================================

.intro-wrap-lhs {
	text-align: left;
	display: flex;
	align-items: center;
  justify-content: center;
  margin: 25vh 0;
  max-width: 750px;

  h1 { margin-bottom: 0; }
  h2 { margin-bottom: 1rem; }
}

.intro-text {
	z-index: 10;
}


.job-wrap {
	@include clearfix;
	margin-bottom: 48px;

	h3 { margin-bottom: 6px; }
	h4 {
		font-weight: 700;
		margin-bottom: 12px;
	}

	.upper { margin-top: 4px; }

	ul {
		li {
	    position: relative;
	    margin-bottom: 0.75rem;
	    margin-left: 1rem;

	    span {
	    	display: inline-block;
				position: relative;

	    	&::after {
	    		  content: '';
	    		  position: absolute;
	    		  width: 100%;
	    		  height: 1px;
	    		  display: block;
	    		  margin-top: -3px;
	    		  background: $green;
	    		}
	    }

	    &::before {
	      content: "•";
	      color: $blue;
	      position: absolute;
	      left: -16px;
	      top: -5px;
    		font-size: 22px;
	    }
	  }
	}

	&:last-of-type { margin-bottom: $xxvlrg-pad; }

	@media screen and ( max-width: $medium ) {
		h4 { margin-bottom: 0; }
		ul { margin-top: 16px; }
	}
	@media screen and ( max-width: $small ) {
		ul li {
			margin-left: 12px;
			&::before {
				left: -12px;
				top: -2px;
				font-size: 16px;
			}
		}
	}

}




















