//===============================================================================
// BASICS
//===============================================================================
// box-sizing everywhere and webkit text rendering correction
*,
*::before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

// remove padding & list styles from all <ul> as default
ul {
  padding: 0;
  list-style: none;
}


html, body {
  background-color: white;
}

div { position: relative; }

a {
	text-decoration: none;
	color: inherit;
}

//===============================================================================
// HOME STLYES
//===============================================================================

// INTRO SECTION
.page-wrap {
	width: 100vw;
	min-height: 100vh;
  border-image: linear-gradient(to bottom, $blue 0%, $green 100%);
	border-image-slice: 1;
	padding-bottom: 72px;
}

.intro-wrap {
	text-align: center;
	display: flex;
	align-items: center;
  justify-content: center;
  height: 100vh;
  margin-bottom: 50vh;
  max-width: 750px;
  margin: 0 auto;
}

.intro-text {
	z-index: 10;
}

.intro-backimg {
  position: fixed;
  width: 500px;
  max-width: 66%;
  z-index: 1;
  opacity: .3;

  img {
  	width: 100%;
  }
}


// PROCESS

.section-head-wrap {
	border-top: 1px solid $green;
	padding-top: $xxvlrg-pad;
	margin-bottom: $xvlrg-pad;
	display: inline-block;
  width: 100%;

	@media screen and (max-width: $medium) { margin-bottom: $vlrg-pad; }
}

.head-text { max-width: $medium; }



.plus-roundel-green, .arrow-roundel-green, .close-roundel {
	width: 60px;
	height: 60px;
	border-radius: 100%;
	background-color: $green;
	position: absolute;
	top: calc(50% - 30px);
  right: 0;
  transition: all $short ease;
  overflow: hidden;

	@media screen and (max-width: $medium) {
    transform: scale(0.75);
    // top: calc(50% - 30px);
  }

  @media screen and (max-width: $small) {
    transform: scale(0.5);
    // top: calc(50% - 15px);
  }

 }


.plus-roundel-green {
  &::after, &::before {
  	content: "";
  	width: 20px;
  	height: 4px;
  	background-color: $white;
  	position: absolute;
  	transition: all $short ease;
  	left: 22px;
  }
  &::after {
  	top: 22px;
  	transform: rotate( -315deg );
  }
	&::before {
		top: 34px;
		transform: rotate( -405deg );
	}

}


.arrow-roundel-green {
  &::after, &::before {
		content: url('/img/icons/arrow-white.svg');
		position: absolute;
		transition: all $short ease;
  }
	&::after {
		left: 13px;
		top: 14px;
	}
	&::before {
		left: -87px;
		top: 14px;
	}
}

.close-roundel { 
  &::after, &::before {
  	content: "";
  	width: 24px;
		left: 18px;
		top: 28px;
  	height: 4px;
  	background-color: $white;
  	position: absolute;
  	transition: all $short ease;
  }

  &::after { transform: rotate( 45deg ); }
	&::before {	transform: rotate( -45deg ); }

	&:hover {
		background-color: $blue;
		&::after, &::before {
			width: 20px;
			left: 19px;
		}
		&::after {
			top: 34px;
			transform: rotate( -315deg );
		}
		&::before {
			transform: rotate( -405deg );
			top: 22px;
		}
	}
}


.process-link {
	margin-bottom: $xvlrg-pad;
	position: relative;
	padding-right: 96px;
	cursor: pointer;

	&:last-of-type { margin-bottom: $xxvlrg-pad;}

	@media screen and (max-width: $medium) {
		margin-bottom: $vlrg-pad;
		padding-right: $vlrg-pad;
	}
}


.title-link {
	position: relative;
	display: inline-block;	
}


.title-link, .process-link{
	&:hover {

		.arrow-roundel-green {
			background-color: $blue;
			&::after { left: 100px; }
			&::before { left: 13px; }
		}

		.plus-roundel-green {
			background-color: $blue;
			&::after, &::before {
				width: 24px;
				left: 18px;
				top: 28px;
			}
			&::after { transform: rotate( 0deg ); }
			&::before { transform: rotate( 90deg ); }
		}

		.link-underline::after { width: 100%; }
	}
}



.link-underline {
	display: inline-block;
	position: relative;

		&::before {
		  content: '';
		  position: absolute;
		  width: 0;
		  bottom: 0px;
		  height: 3px;
		  display: block;
		  margin-top: -3px;
		  background: $green;
		  transition: width $short ease;
		}

	@media screen and (min-width: $medium) { 
		&:hover::before { width: 100%; }
	}
}




.client-name {
	display: inline-block;	

	h6 { display: inline;	}
	
	&::after {
		content: "/";
		margin: 16px;
		font-weight: 700;
		color: $green;
	}

	&:last-of-type::after {
		content: "";
		margin: 0;
	}
}






//===============================================================================
// MODAL
//===============================================================================

.modal-wrap, .content-cover, .modal-content {
	height: 100vh;
}


.content-cover, .modal-content {
	position: absolute;
	top: 0;
	right: 0;
}

.modal-wrap {
	width: 100%;
	z-index: 30;
	top: 0;
	right: -120%;
	position: fixed;
	transition: all $short ease;

	&.js-open-modal {
		right: 0;
	}
}

.content-cover {
	width: 100%;
	background-color: rgba( 255,255,255,.5 );
	overflow: hidden;
}

.modal-content {
	width: 50%;
	background-color: $ink;
	box-shadow: 0 2px 27px 0 rgba(0,0,0,0.35);

	.close-roundel {
		position: absolute;
		left: -30px;
		top: 66px;
		z-index: 50;
	}

	@media screen and (max-width: $large) { 
		width: 61%;
	}

	@media screen and (max-width: $medium) { 
		width: 80%;
		.close-roundel { top: 56px; }
	}

	@media screen and (max-width: $small) { 
		width: 100%;
		.close-roundel {
			top: 50px;
			right: 32px;
			left: auto;
		}
	}
}



.project-wrap {
	height: 100vh;
	overflow: auto;
	position: absolute;
	top: 0;
	opacity: 0;
	z-index: -1;
	transition: all $long ease;

	&.js-show {
		opacity: 1;
		z-index: 40;
	}

	img {
		width: 100%;
		margin: 12px 0;
	}
}

.wrap-padding {
	padding: 64px 10%;
	max-width: 700px;

	.add-marg { margin-top: 48px; }
}

.chat-link {
	padding: 64px 0;
	display: inline-block;

	.arrow-roundel-green { right: 10%; }
}



.hidden {
  opacity: 0;
  transform: translateY( 48px );
}

.animate { transition: all $mid ease; } 








