//===============================================================================
// FONTS
//===============================================================================

.bold { font-weight: 700; }
.upper { text-transform: uppercase; }

//set Rem size
body { 
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: $ink;
}

$lrg-scale: 1.333;

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.333em;
  margin: 0;
}

h1, h2, h3, h4 {
	font-weight: 700;
}

h4, h5, h6 {
	font-weight: 400;
}

h5,h6,p {  line-height: 1.65em; }

// 1.333 rem scale

h1 {
  font-size: ( $lrg-scale*$lrg-scale*$lrg-scale*$lrg-scale*$lrg-scale )+rem;
  color: $blue;
  margin-bottom: 1rem;
}

h2 {
  font-size: ( $lrg-scale*$lrg-scale*$lrg-scale*$lrg-scale )+rem;
}

h3 {
  font-size: ( $lrg-scale*$lrg-scale*$lrg-scale )+rem;
}

h4 {
  font-size: ( $lrg-scale*$lrg-scale )+rem;
}

h5 {
  font-size: ( $lrg-scale*$lrg-scale )+rem;
}

h6 {
  font-size: ( $lrg-scale )+rem;
}

p { }


//******* tablet font size (1.2scale) *******//
@media screen and (max-width: $medium) {

  $med-scale: 1.2;
  
  body { font-szie: 14px; }
  h1 {
    font-size: ( $med-scale*$med-scale*$med-scale*$med-scale*$med-scale )+rem;
  }
  h2 {
    font-size: ( $med-scale*$med-scale*$med-scale*$med-scale )+rem;
  }
  h3 {
    font-size: ( $med-scale*$med-scale*$med-scale )+rem;
  }
  h4 {
    font-size: ( $med-scale*$med-scale )+rem;
  }
  h5 {
    font-size: ( $med-scale*$med-scale )+rem;
  }
  h6 {
    font-size: ( $med-scale )+rem;
  }
}

//******* tablet font size (1.2scale) *******//
@media screen and (max-width: $small) {

  $sml-scale: 1.15;
  
  body { font-szie: 14px; }
  h1 {
    font-size: ( $sml-scale*$sml-scale*$sml-scale*$sml-scale*$sml-scale )+rem;
  }
  h2 {
    font-size: ( $sml-scale*$sml-scale*$sml-scale*$sml-scale )+rem;
  }
  h3 {
    font-size: ( $sml-scale*$sml-scale*$sml-scale )+rem;
  }
  h4 {
    font-size: ( $sml-scale*$sml-scale )+rem;
  }
  h5 {
    font-size: ( $sml-scale*$sml-scale )+rem;
  }
  h6 {
    font-size: ( $sml-scale )+rem;
  }
}

 ul { margin-top: 0; }


// ul {
//   li {
//     font-size: 1rem;
//     line-height: 1.5rem;
//     position: relative;
//     margin-bottom: 0.5rem;
//     margin-left: 1rem;

//     &:before {
//       content: "•";
//       color: $blue2;
//       position: absolute;
//       left: -16px;
//       top: -1px;
//     }
//   }
// }




