<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
<meta name="mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="description" content="Your friendly neighbourhood designer. Based in Vancouver. Come inside to find out more.">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

<link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">

<link rel="stylesheet" href="css/styles.css">

<!-- <script src="js/vendor/vue-dev.js"></script> -->
<script src="js/vendor/vue.min.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-37805029-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-37805029-2');
</script>

  <title>iBlack - Contact</title>
</head>
<body>
	
	<div id="app" class="page-wrap">

    <!-- menu -->
    <div class="set-menu-contact" id="menu">
      <div class="menu-wrap">
	<div class="border-adjust-wrap">
		<a href="index.html"><img src="img/icons/logo.svg"></a>
		<ul class="menu-back">
			 <li v-for="item in links" class="link-underline menu-item" v-bind:class="item.class">
			 		<a v-bind:href="item.url" v-html="item.text"></a>
			 </li>
		</ul>
	</div>
</div>
    </div>

		<!-- Intro -->
		<div id="intro-contact">
      
<div class="intro-wrap">
	<!-- Text content -->
	<div class="intro-text">
		<h1 v-html="title"></h1>
		<h5 v-html="subtitle"></h5>
	</div>
	<!-- Image -->
	<div class="intro-backimg" id="fade-img">
	 	<img v-bind:src="'img/' + backImg" alt="" class="">
	</div>
</div>
    </div>

    <!-- Book a chat -->
    <div id="bookchat" class="marg-bot-32">
      <!-- If NO LINK -->
<template v-if="(url == '')">
	<div class="section-head-wrap">
		<div class="head-text">
			<h2 v-html="title"></h2>
			<h6 v-html="subtitle"></h6>
		</div>
	</div>
</template>

<!-- If LINK -->
<template v-else>
	<div class="section-head-wrap">
		<a v-bind:href="url" class="title-link width-50">
			<div class="head-text">
				<h2 class="link-underline" v-html="title"></h2>
				<h6 v-html="subtitle"></h6>
			</div>

			<div class="arrow-roundel-green"></div>
		</a>
	</div>
</template>



    </div>

    <!-- Connect links -->
    <div id="connect-links">
      <div class="section-head-wrap">
	<div class="head-text">
		<h2 v-html="title"></h2>

		<h6 class="link-underline link-divider" v-for="item in links"><a v-bind:href="item.url" target="_blank" v-html="item.name"></a></h6>

	</div>
</div>
    </div>

		
	</div><!-- close page-wrap -->

  <!-- LOADER -->
  <div class="loader"></div>

  <script src="js/main.js"></script>
</body>
</html>