<div id="modal" class="modal-wrap">
	<!-- Cover main page -->
	<div class="content-cover" id="close-panel"></div>
	<!-- Content -->
	<div class="modal-content" id="modal-panel">
			<!-- close button -->
			<div id="close-modal" class="close-roundel"></div>

			<!-- projects -->
			<div v-for="item in phases" v-bind:id="item.id" class="project-wrap">

				<!-- Intro text -->
				<div class="wrap-padding">
					<h2 class="text-white" v-html="item.title"></h2>
					<p class="bold upper text-blue add-marg" v-html="item.casestudy"></p>
					<h3 class="text-white" v-html="item.subtitle"></h3>
					<h6 class="text-white" v-html="item.summary"></h6>
					<p class="text-white marg-top-32 " v-html="item.para"></p>
				</div>
				
				<!-- Images -->
				<img v-for="image in item.images" v-bind:src="'img/' + image.oneImage" alt="project-image">

				<div class="wrap-padding">
			  	<a class="chat-link" href="contact.html">
						<p class="text-green">Keen to hear more?</p>
						<h3 class="marg-bot-0 link-underline text-white">Let's chat</h3>
						<div class="arrow-roundel-green"></div>
					</a>	
				</div>

			</div>
	</div>



</div>